# Python
__pycache__/
*.pyc
.venv/
env/
venv/

# Node
node_modules/
dist/
build/

# Environment
.env

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Storage temporal
storage/
backend/storage/
frontend/node_modules/
backend/__pycache__/