# WhatsApp session
backend/whatsapp-service/.wwebjs_auth/
backend/whatsapp-service/.wwebjs_cache/

# Node modules
backend/whatsapp-service/node_modules/

# Python env
backend/.env
backend/__pycache__/
backend/app/__pycache__/

# General
*.log

# Python
__pycache__/
*.pyc
.venv/
env/
venv/

# Node
node_modules/
dist/
build/

# Environment
.env

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Storage temporal
storage/
backend/storage/
frontend/node_modules/
backend/__pycache__/